<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <listeners>
        <listener class-name="core.Listeners"></listener>
    </listeners>
    <suite-files>
        <suite-file path="functional-tests.xml"></suite-file>
        <!--suite-file path="smoke-tests.xml"></suite-file-->
    </suite-files>
</suite>